@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="787c07fc-45ae-98c6-8b26-4f5d95ac8cba"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b017eaa-0409-ec30-13a9-d7d6ae881106"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e504e849-d931-7bf4-3631-f76d1730a4ff"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5726bfa9-2f1e-e98a-bca6-ec24f708f968"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3033d10a-f8fc-a125-fb8d-5b8b9754a23f"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5d2e1e41-3dfc-7622-a7eb-0bf5a71b04b4"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="77279e2b-858d-55f8-8f43-2be7f9114b99"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="9dfb3154-e92a-1420-c91b-bbb2591312c7"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="68c0dc11-50f6-6f7e-d6ea-7fc16de397ec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="128de448-18b1-d1ef-8e02-3493b5799bec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="787c07fc-45ae-98c6-8b26-4f5d95ac8cba"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b017eaa-0409-ec30-13a9-d7d6ae881106"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e504e849-d931-7bf4-3631-f76d1730a4ff"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5726bfa9-2f1e-e98a-bca6-ec24f708f968"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3033d10a-f8fc-a125-fb8d-5b8b9754a23f"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5d2e1e41-3dfc-7622-a7eb-0bf5a71b04b4"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="77279e2b-858d-55f8-8f43-2be7f9114b99"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="9dfb3154-e92a-1420-c91b-bbb2591312c7"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="68c0dc11-50f6-6f7e-d6ea-7fc16de397ec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="128de448-18b1-d1ef-8e02-3493b5799bec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width: 767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="787c07fc-45ae-98c6-8b26-4f5d95ac8cba"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b017eaa-0409-ec30-13a9-d7d6ae881106"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e504e849-d931-7bf4-3631-f76d1730a4ff"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5726bfa9-2f1e-e98a-bca6-ec24f708f968"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3033d10a-f8fc-a125-fb8d-5b8b9754a23f"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5d2e1e41-3dfc-7622-a7eb-0bf5a71b04b4"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="77279e2b-858d-55f8-8f43-2be7f9114b99"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="9dfb3154-e92a-1420-c91b-bbb2591312c7"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="68c0dc11-50f6-6f7e-d6ea-7fc16de397ec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="128de448-18b1-d1ef-8e02-3493b5799bec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="787c07fc-45ae-98c6-8b26-4f5d95ac8cba"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b017eaa-0409-ec30-13a9-d7d6ae881106"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e504e849-d931-7bf4-3631-f76d1730a4ff"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5726bfa9-2f1e-e98a-bca6-ec24f708f968"] {
        -webkit-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -moz-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        -ms-transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform: translate3d(0%, 0%, 0vw) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0deg) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3033d10a-f8fc-a125-fb8d-5b8b9754a23f"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5d2e1e41-3dfc-7622-a7eb-0bf5a71b04b4"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="77279e2b-858d-55f8-8f43-2be7f9114b99"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="9dfb3154-e92a-1420-c91b-bbb2591312c7"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0deg) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="68c0dc11-50f6-6f7e-d6ea-7fc16de397ec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="128de448-18b1-d1ef-8e02-3493b5799bec"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}